.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-template-columns-3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 50rem;
}

/* Estilos Gerais */
.item1 {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.item2 {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.placar {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: tomato;
}

.date {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 15px;
}
.texto {
  text-align: center;
}
