.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu {
  display: flex;
  background-color: tomato;
  width: 50%;
  height: 5rem;
  margin-top: 5rem;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}
.icone1 {
  height: 80%;
  width: auto;
  transform: rotate(90deg);
}

.icone {
  height: 80%;
  width: auto;
}

.Placar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
  align-self: center;
  margin-top: 2rem;
}
.times {
  display: flex;
  flex-direction: column;
  width: 5rem;
  align-items: center;
  text-align: center;
}
.data {
  align-self: center;
  margin-top: 3rem;
  font-size: 40px;
  text-align: center;
}

.local {
  text-align: center;
}

.squads {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.teamsheet {
  background-color: tomato;
  width: 49%;
  text-align: center;
  margin-bottom: 5rem;
}

.teamstats {
  background-color: tomato;
  width: 45%;
  margin-bottom: 5rem;
  padding-left: 19px;
}
.teamnamestats {
  text-align: center;
}

button {
  font-family: "Times New Roman", Times, serif;
  background-color: #282c34;
  border: 1px solid white;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  width: 40rem;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 40px;
  display: inline-block;
  font-size: 16px;
}
