.container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.box {
    border: 1px;
    border-radius: 10px 0 10px 0;
    background-color: rgba(0,0,75,.5);
    margin-bottom: 10px;
    width: 750px;
}
.goals {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 50px;
}
.textGoals {
    margin-left: 20px;
    font-size: 12px;
}
